<div class="container">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <nav class = "navbar navbar-default">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <button type = "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target ="#gnavi">
            <span class = "sr-only">Couple Happiness</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
          <a class = "navbar-brand">Couple Happness</a>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class = "nav navbar-nav">
            <% if logged_in? %>
              <li><%= link_to 'トップ画面', users_path(current_user.id) %></li>
              <li><%= link_to 'ライフプラン', plans_path %></li>
              <li><%= link_to '家訓', promises_path %></li>
              <li><%= link_to '議事録', meetings_path %></li>
              <li><%= link_to 'プロ一覧', professionals_path %></li>
              <li><%= link_to 'ユーザー編集', edit_user_path(current_user.id) %></li>
              <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
            <% elsif logged_in_professional? %></li>
              <li><%= link_to 'トップページ', professional_path(current_professional) %></li>
              <li><%= link_to '相談部屋', consultation_rooms_path %></li>
              <li><%= link_to 'プロ情報編集', edit_professional_path(current_professional.id) %></li>
              <li><%= link_to "ログアウト", destroy_professional_sessions_path(current_professional.id) %> </li>
            <% end %>
    
          </ul>
        </div>
      </div>
    </nav>

    <h2 class="title2"><%= @consultation_room.user.last_name %><%= @consultation_room.user.first_name %>　と　<%= @consultation_room.professional.last_name %><%= @consultation_room.professional.first_name %>の相談部屋</h2>
    <br><br>
    <div class="base_a">
    <% if @over_ten %>
      <%= link_to '以前のメッセージ', '?m=all' %>
    <% end %>
    <div class="ui segment">
      <% @messages.each do |message| %>
        <% if message.body.present? %>
          <div class="item">
            <div class="content">
              <div class="header">
                <strong>
                  <% if message.user_id.present? %>
                    <%= message.user.last_name %><%= message.user.first_name%>
                  <% elsif message.professional_id.present? %>
                    <%= message.professional.last_name %><%= message.professional.first_name %>
                  <% else %>
                  <% end %>
                </strong>
                <%= message.created_at %>
              </div>
              <div class="list">
                <div class="item">
                  <i class="right triangle icon"></i>
                  <%= message.body %> 
                  <% if message.user == current_user %>
                    / <%= message.read ? '既読' : '未読' %>
                  <% elsif message.professional == current_professional %>
                    / <%= message.read ? '既読' : '未読' %>
                  <% else %>
                  <% end %>  
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <%= form_with(model: [@consultation_room, @message]) do |f| %>
      <div class="field">
        <%= f.text_area :body%>
      </div>
      <% if logged_in? %>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
      <% elsif logged_in_professional? %>
        <%= f.text_field :professional_id, value: current_professional.id, type: "hidden"  %>
      <% end %>
      <div>
        <%= f.submit "メッセージを送る" %>
      </div>
    <% end %>
    <br><br>
    </div>
    <footer>
      <div class="company">© Couple Happiness Corp. All RIGHTS RESERVED.</div>
    </footer>
  </div>
  <div class="col-xs-1"></div>
</div>