<h2>ユーザーログイン</h2>
<br>
<% if logged_in? %>
  <%= link_to "ログアウト", session_path(current_user.id), method: :delete%>
  <br><br>
<% else %>
  <%= link_to "ユーザーアカウント作成", new_user_path %>
  <br><br>
<% end %>
<%= link_to "プロフェッショナルページへ切り替え", new_professional_sessions_path %><br><br>

<% flash.each do |key,value|%>
  <%= content_tag(:div, value, class:"#{key}") %>
<% end %>

<%= form_with(scope: :session, url:sessions_path, local:true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br><br>
  <%= f.submit "ログイン"%>
<% end %>

<footer>
  <div class="company">© Couple Happiness Corp. All RIGHTS RESERVED.</div>
</fotter>