<div class="container">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <nav class = "navbar navbar-default">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <button type = "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target ="#gnavi">
            <span class = "sr-only">Couple Happiness</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
          <a class = "navbar-brand">Couple Happness</a>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class = "nav navbar-nav">
            <li><%= link_to 'トップ画面', users_path(current_user.id) %></li>
            <li><%= link_to 'ライフプラン', plans_path %></li>
            <li><%= link_to '家訓', promises_path %></li>
            <li><%= link_to '議事録', meetings_path %></li>
            <li><%= link_to 'ユーザー編集', edit_user_path(current_user.id) %></li>
            <li class = "nav navbar-right"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>

    <% @professional = Professional.all %>
    <h2 class="title2">プロフェッショナル一覧</h2>
    <br>
    <table>
      <tr>
        <th></th>
        <th>名前</th>
        <th>サービス名</th>
        <th>詳細</th>
        <th>相談</th>
      </tr>

      <% @professional.reverse_each do |professional| %>
        <tr>
          <td><%= image_tag(professional.professional_image.url, size:'80x80') if professional.professional_image.present?%></td>
          <td><%= professional.last_name %><%= professional.first_name %></td>
          <td><%= professional.service_name %></td>
          <td><%= professional.self_introduction %></td>
          <td><%= link_to 'メッセージ', consultation_rooms_path(sender_id: current_user.id, recipient_id: professional.id), method: :post %></td>
        </tr>
      <% end %>
    </table>
    <br>

    <footer>
      <div class="company">© Couple Happiness Corp. All RIGHTS RESERVED.</div>
    </footer>
  </div>
  <div class="col-xs-1"></div>
</div>