<h2>ユーザー情報編集</h2>
<br>
<% if logged_in? %>
  <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
  <br><br>
  <% else %>
  <%= link_to 'トップ画面に移動する', user_path(@user.id) %><br>
  <br><br>
<% end %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h1><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h1>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  
  <%= f.label :名字 %>
  <%= f.text_field :last_name %>
  <br>
  
  <%= f.label :名前 %>
  <%= f.text_field :first_name %>
  <br> 
  
  <%= f.label :メールアドレス %>
  <%= f.email_field :email %>
  <br>
  
  <%= f.label :パスワード %>
  <%= f.password_field:password %>
  <br>
  
  <%= f.label :パスワード（確認） %>
  <%= f.password_field :password_confirmation %>
  <br>

  <%= f.label :性別 %>
  <%= f.radio_button :性別, :male %>
  <%= f.label :sex, "男性", {value: :male, style: "display: inline-block;"} %>
  <%= f.radio_button :性別, :female %>
  <%= f.label :sex, "女性", {value: :female, style: "display: inline-block;"} %>
  <br>

  <%= f.label :独身・既婚 %>
  <%= f.radio_button :material_status, :male %>
  <%= f.label :material_status, "独身", {value: :unmarried, style: "display: inline-block;"} %>
  <%= f.radio_button :material_status, :female %>
  <%= f.label :material_status, "既婚", {value: :married, style: "display: inline-block;"} %>
  <br>

  <%= f.label :誕生日 %>
  <%= f.date_select(
    :birthday,
    use_month_numbers: true,
    start_year: 1930,
    end_year: (Time.now.year),
    default: Date.new(2000, 1, 1),
    date_separator: '/') %>
  <br>

  <%= f.label :写真をアップロード %>
  <%= f.file_field  :image %>
  <%= f.hidden_field  :image_cache %>
  <br>
  <%= f.submit "アカウントの変更" %>
  <br><br>
<% end %>
<%= link_to 'トップ画面に移動する', users_path(@user.id), class: 'btn btn-primary'  %>
<br><br>

<fotter>
  <div class="company">© Couple Happiness Corp. All RIGHTS RESERVED.</div>
</fotter>