<%= link_to "ログアウト", session_path(current_user.id), method: :delete, class: 'btn btn-primary' %>  
<%= link_to 'ユーザー編集', edit_user_path(current_user.id), class: 'btn btn-primary' %><br><br>

<p>
<%= image_tag(current_user.image.url, size:'80x80')  if current_user.image.present?%>        
<br>
<%= current_user.last_name %> <%= current_user.first_name %>
</p>


<% if (UserMatch.all.find_by(partner_id: current_user.id)).present?  %>
  <% if (UserMatch.all.find_by(party_id: current_user.id)).present?  %>

    <p>
    <%= image_tag(User.all.find_by(id: UserMatch.all.find_by(party_id: current_user.id).partner_id).image.url, size:'80x80') if User.all.find_by(id: UserMatch.all.find_by(party_id: current_user.id).partner_id).image.url.present?%>        
      <br>
    <%= User.all.find_by(id: UserMatch.all.find_by(party_id: current_user.id).partner_id).last_name %>
    <%= User.all.find_by(id: UserMatch.all.find_by(party_id: current_user.id).partner_id).first_name %>
    </p>

  <% end %>
<% end %>

<%= link_to 'パートナー検索', search_users_path %>
<% if (UserMatch.all.find_by(partner_id: current_user.id)).present? %>
  <% if (UserMatch.all.find_by(party_id: current_user.id)).present? %>
  <% else %>

    <%= form_with model: UserMatch.new, local: true do |f| %>
      <%= f.hidden_field :party_id, value: current_user.id %>
      <%= f.hidden_field :partner_id, value: UserMatch.all.find_by(partner_id: current_user.id).party_id %>
      <%= f.hidden_field :confirmation_status, value: 1 %>   
      <%= 'パートナーから申請が来ています！'%>
      <%= f.submit :承認する %>

  <% end %>

  <% end %>
<% end %>

<br><br>

<%= link_to 'ライフプランを見る', plans_path %>
<br><br>

<%= link_to '家訓を見る', promises_path %>
<br><br>

質問カテゴリー<br>
<%= link_to '1.結婚', answers_path(:category => 1) %><br>
<%= link_to '2.趣味', answers_path(:category => 2) %><br>
<%= link_to '3.食事', answers_path(:category => 3) %><br>
<%= link_to '4.イベント', answers_path(:category => 4) %><br>
<%= link_to '5.仕事', answers_path(:category => 5) %><br>
<%= link_to '6.住居', answers_path(:category => 6) %><br>
<%= link_to '7.家事', answers_path(:category => 7) %><br>
<%= link_to '8.服', answers_path(:category => 8) %><br>
<%= link_to '9.お金', answers_path(:category => 9) %><br>
<%= link_to '10.子育て', answers_path(:category => 10) %><br>
<%= link_to '11.家族', answers_path(:category => 11) %><br>
<%= link_to '12.介護', answers_path(:category => 12) %><br>
<%= link_to '13.友人', answers_path(:category => 13) %><br>
<%= link_to '14.美容', answers_path(:category => 14) %><br>
<%= link_to '15.健康', answers_path(:category => 15) %><br>
<%= link_to '16.性生活', answers_path(:category => 16) %><br>
<br><br>


<br>

<fotter>
  <div class="company">© Picture Corp. All RIGHTS RESERVED.</div>
</fotter>