<h2>パートナー紐づけ</h2>
<br>
<p><%= notice %></p>
<%= link_to 'トップ画面に移動', users_path(current_user.id) %>
<br><br>

<%= form_with url: search_users_path, method: :get, local: true do |f| %>
  <%= f.label :名字 %>
  <%= f.text_field :last_name %><br>
  <%= f.label :名前 %>
  <%= f.text_field :first_name %>
  <br>
  <%= f.submit :検索 %>
<% end %>
<br>

<% if  @users.present? %>
  <%  @users.each do |user| %>
    <%= user.last_name %>
    <%= user.first_name %>
    <%= image_tag(user.image.url, :size =>'100x100') if user.image && user.image.url %>

    <% if ! (user.id == current_user.id) %>
      <%= form_with model: UserMatch.new, local: true do |f| %>
        <%= f.hidden_field :party_id, value: current_user.id %>
        <%= f.hidden_field :partner_id, value: user.id %>
        <%= f.hidden_field :confirmation_status, value: 1 %>   
        <%= f.submit :申請する %>
      <% end %>
    <% end %>
    <br>
  <% end %>
  <% else %>
<% end %>
<br><br>

<fotter>
  <div class="company">© Couple Happiness Corp. All RIGHTS RESERVED.</div>
</fotter>