<div class="container">
  <div class="col-xs-1"></div>
  <div class="col-xs-10">
    <nav class = "navbar navbar-default">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <button type = "button" class="navbar-toggle collapsed" data-toggle="collapse" data-target ="#gnavi">
            <span class = "sr-only">Couple Happiness</span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
            <span class = "icon-bar"></span>
          </button>
          <a class = "navbar-brand">Couple Happness</a>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class = "nav navbar-nav">
            <li><%= link_to 'トップ画面', users_path(@current_user.id) %></li>
            <li><%= link_to 'ライフプラン', plans_path %></li>
            <li><%= link_to '家訓', promises_path %></li>
            <li><%= link_to '議事録', meetings_path %></li>
            <li><%= link_to 'プロに相談', professionals_path %></li>
            <li><%= link_to 'ユーザー編集', edit_user_path(current_user.id) %></li>
            <li class = "nav navbar-right"><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
          </ul>
        </div>
      </div>
    </nav>

    <h2 class="title2">質問と回答一覧</h2>
    <br>
    <button type="button" class="btn btn-info rounded-pill btn-lg">
    <%= link_to '質問に答える', answer_to_question_answers_path(:category_for_answer => @category) %></button>
    <br><br>

    <h2><%= @category %>.<%= Category.all.find(@category).detail %></h2>
    <br>

    <% @questions = Question.where(category_id: @category) %>
    <% j = 1 %>

    <table class="table_a">
      <th>質問</th>
      <th>自分の回答</th>
      <th>自分の詳細</th>
      <% if (UserMatch.all.find_by(partner_id: current_user.id)).present?  %>
        <% if (UserMatch.all.find_by(party_id: current_user.id)).present?  %>  
          <th>パートナーの回答</th>
          <th>パートナーの詳細</th>
        <% end %>
      <% end %>

      <% @questions.each do |question| %>
        <tr>
          <td>Q.<%= j %><%= question.detail %></td>
          <% @answer = Answer.find_by("(question_id = ?) and (user_id = ?)" , question.id, current_user.id) %>

          <% if @answer.present? %>
            <% if @answer.answer == "1" %>
              <td><%= question.answer_left %></td>
              <td><%= @answer.answer_detail %></td>
            <% elsif @answer.answer == "2" %>
              <td><%= question.answer_right %></td>
              <td><%= @answer.answer_detail %></td>
            <% else %>
              <td>"未回答"</td>
              <td></td>
            <% end %>
          <% else %>
            <td>"未回答"</td>
            <td></td>
          <% end %>

          <% if (UserMatch.all.find_by(partner_id: current_user.id)).present?  %>
            <% if (UserMatch.all.find_by(party_id: current_user.id)).present?  %>  
              <% @user2 = User.all.find(UserMatch.all.find_by(party_id: current_user.id).partner_id) %>
              <% @answer2 = Answer.find_by("(question_id = ?) and (user_id = ?)" , question.id, @user2.id) %>
                <% if @answer2.present? %>
                <% if @answer2.answer == "1" %>
                  <td><%= question.answer_left %></td>
                  <td><%= @answer2.answer_detail %></td>
                <% elsif @answer2.answer == "2" %>
                  <td><%= question.answer_right %></td>
                  <td><%= @answer2.answer_detail %></td>
                <% else %>
                  <td>"未回答"</td>
                  <td></td>
                <% end %>
              <% else %>
                <td>"未回答"</td>
                <td></td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <% j += 1 %>
      <% end %> 
    </table>
    <br><br>

    <footer>
      <div class="company">© Couple Happiness Corp. All RIGHTS RESERVED.</div>
    </footer>
  </div>
  <div class="col-xs-1"></div>
</div>