<h2>メッセージ一覧</h2>
<br><br>

<table class="table table-hover" >
   <% if @consultation_rooms.present? %>
    <% @consultation_rooms.each do |consultation_room| %>
        <% if logged_in? %>
          <% if consultation_room.sender_id == current_user.id %>
            <tr><td>
            <%= consultation_room.professional.last_name %><%= consultation_room.professional.first_name %>
            <%= link_to 'メッセージをやり取りする', consultation_room_messages_path(consultation_room.id)%>
            </td></tr>
          <% end %>
        <% elsif logged_in_professional? %>
          <% if consultation_room.recipient_id == current_professional.id %>
            <tr><td>
            <%= consultation_room.user.last_name %><%= consultation_room.user.first_name %>
            <%= link_to 'メッセージをやり取りする', consultation_room_messages_path(consultation_room.id)%>
            </td></tr>
          <% end %>
        <% end %>
      </td>
    <% end %>
<% end %>
</table>

<%= link_to 'トップページに戻る', professional_path(current_professional) %>

<fotter>
  <div class="company">© Couple Happiness Corp. All RIGHTS RESERVED.</div>
</fotter>