<h2>ライフプラン一覧</h2>
<br>
<%= link_to 'トップ画面に移動する', users_path(@current_user.id) %><br>
<br><br>
<%= link_to 'ライフプランを登録する', new_plan_path %>
<br><br>


<%= current_user.last_name %> <%= current_user.first_name %>のプラン

<table>
<th>目標日</th>
<th>詳細</th>
<th>編集</th>
<th>削除</th>

<% @current_user.plans.reverse_each do |plan| %>
  <tr>
    <td><%= plan.plan_set %></td>
    <td><%= plan.detail %></td>
    <td><%= link_to '編集', edit_plan_path(plan.id) %></td>
    <td><%= link_to '削除', plan_path(plan.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
<% end %>
</table>
<br><br>

<% if (UserMatch.all.find_by(partner_id: current_user.id)).present?  %>
  <% if (UserMatch.all.find_by(party_id: current_user.id)).present?  %>
    
    <% @user = User.all.find(UserMatch.all.find_by(party_id: current_user.id).partner_id) %>
    <%= @user.last_name %> <%= @user.first_name %>のプラン

    <table>
    <th>目標日</th>
    <th>詳細</th>

    <% @user.plans.reverse_each do |plan| %>
      <tr>
      <td><%= plan.plan_set %></td>
      <td><%= plan.detail %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
<% end %>
<br><br>

<fotter>
  <div class="company">© Couple Happiness Corp. All RIGHTS RESERVED.</div>
</fotter>