<% @plans.reverse_each do |plan| %>
  <tr>
    <td><%= plan.date %></td>
    <td><%= plne.detail %></td>
    <td><%= link_to '閲覧', plan_path(plan.id) %></td>
    <td><%= link_to '編集', edit_plan_path(plan.id) %></td>
    <td><%= link_to '削除', plan_path(plan.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>